<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <a class="logo_footer" href="index.html">
            <img src="assets/img/logo.png">
          </a>
          <div class="textwidget">
            The future is the only place where we are all sure to spend the rest of our lives. Hence Sewall is born.
          </div>
          <ul class="footer-social">
            <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
            <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Contact Us</h3>
            <ul class="contact-footer">
              <li>
                <strong>Address :</strong> <span>1, rue des vieux grenadiers, 1205 Genève Suisse</span>
              </li>
              <li>
                <strong>Phone :</strong> <span>+41 (78) 602 24 92</span>
              </li>
              <li>
                <strong>E-mail :</strong> <span><a href="#">contact@sewall-partners.com</a></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-5 disclaimer">
          <h3 class="block-title">DISCLOSURES & POLICIES</h3>
          <p>
            © Copyright 2022 Sewall Ltd Liab Co. This Website and the information contained or referred therein (the "website")
            is for informational purposes only. It does not constitute a solicitation, offer or recommendation to buy or
            sell any securities, collective investments or other financial instrument, to effect any transaction, to
            implement any particular trading strategy or to conclude any legal act.

            This website does not provide any investment, legal, accounting or tax advice. It has been prepared without
            taking into account the objectives, financial situation or needs of any particular investor and does not
            represent that any products, securities or services discussed are suitable for any investor. Its recipient
            shall make its own independent decisions whether products, securities or services discussed in this website
            are appropriate or proper for it based upon its own judgment and upon advice from such advisers as it has
            deemed necessary. Any recipient shall independently ensure that it understands the products, securities or
            services discussed in this website and the risks involved with the execution of such transactions.

            None of Sewall Ltd Liab Co. (‘Sewall’) or any of its representatives or affiliates shall have any liability
            whatsoever for any loss howsoever arising from any use of this website or its contents or otherwise arising
            in connection with this website. Sewall does neither represent or warrant the completeness or correctness of
            this website nor undertake to update the information contained in this website.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->
</footer>
<!-- Footer Section End -->
