    <!-- Header Section Start -->
    <app-header></app-header>
    <!-- Header Section End -->
    <div class="video_teaser">
      <video autoplay muted loop id="brainVid"  oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="assets/media/brain.mp4" type="video/mp4">
      </video>
      <div class="teaser_text">
        <h1>Blockchain and financial market innovation</h1>
        <p>
          The financial services industry, processing trillions of dollars’ worth of transactions daily, is exploring how blockchain can address inefficiencies and loopholes in the current system.
        </p>
        <p>
          As a tamper-proof technology, blockchain has the potential to drive down transaction costs and timelines significantly, while increasing transparency and security not to mention improving overall market efficiency.
        </p>
        <p>
          <i>That’s what Sewall is made for.</i>
        </p>
      </div>
    </div>
    <app-services></app-services>
    <app-contact></app-contact>
    <app-teaser></app-teaser>
    <app-map></app-map>
    <app-footer></app-footer>

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-arrow-up"></i>
    </a>

<!--     <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>    -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/classie.js"></script>
    <script src="assets/js/color-switcher.js"></script>
    <script src="assets/js/jquery.mixitup.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="assets/js/jquery.stellar.min.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/scrolling-nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.vide.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.js"></script>
    <script src="assets/js/main.js"></script>
