.video_teaser video {
    object-fit: cover;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
}

.overlay-vid {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay-vid h1 {
    font-size: 65px;
    margin-bottom: 1em;
}

.overlay-vid p {
    font-size: 22px;
    line-height: 1.6em;
    margin-bottom: 1em;
}

.overlay-vid h1,
.overlay-vid p {
    color: white;
}

.video_teaser video {
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}

.teaser-text {
    padding-top: 180px;
}