<section id="services" class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.2s">
            <div class="icon color-1">
              <div class="lamp base_ico"></div>
            </div>
            <h4>Global Prop Trader</h4>
            <p>We actively trade global cryptocurrencies every day. We are liquidity providers; we do make the markets more efficient.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.4s">
            <div class="icon color-2">
              <div class="robot base_ico"></div>
            </div>
            <h4>Tech at the Center</h4>
            <p>Tech is core to our business as it is integrated into everything we do. Our highly skilled and experienced team members set us apart.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.6s">
            <div class="icon color-3">
              <div class="people base_ico"></div>
            </div>
            <h4>External Services</h4>
            <p>Sewall offers its clients access to its principal blockchain technology through a variety of products and services.</p>
          </div>
        </div>
      </div>
    </div>
  </section>