<section id="offices" class="section">
  <div class="container">
    <div class="row offices-row">
      <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
          <div class="flip-rotate">
            <div class="flip gva">
              <div class="front"></div>
              <div class="back">
                GVA
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
        <div class="card-rotate">
          <div class="flip-rotate">
            <div class="flip hkg">
              <div class="front"></div>
              <div class="back">
                HKG
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12 no-padding">
        <div class="card-rotate">
          <div class="card-rotate">
            <div class="flip-rotate">
              <div class="flip asu">
                <div class="front"></div>
                <div class="back">
                  ASU
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
